<section class="c-interests-grid">
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
  <div class="c-interests-grid__item">
    <img src="https://placeimg.com/640/640/any" />
  </div>
</section>
