<section
  class="l-section l-section--min-full-vh l-grid l-grid-4-col l-grid-4-col-stack--until-bp-medium l-grid-4-col--last-narrow l-grid-row--full-vh u-dark-bg"
>
  <div class="u-padding--size-large u-circuit l-v-center">
    <heading>
      <h1
        class="t-primary t-primary--bold t-main-hed u-white-text u-text-center"
      >
        Andrew Gibson
      </h1>
      <h2 class="t-primary--regular t-sub u-text-center u-white-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </h2>
    </heading>
  </div>
  <div
    class="u-bright-bg l-v-center u-padding--size-large u-hide--until-bp-medium"
  >
    <div class="l-flex-full">
      <ul class="c-socials l-h-center">
        <li>
          <a class="u-link u-link--lighten" href="#">
            <div class="c-icon c-icon--square c-icon--white">
              <svg><use xlink:href="#clock"></use></svg>
            </div>
          </a>
        </li>
        <li>
          <a class="u-link u-link--lighten" href="#">
            <div class="c-icon c-icon--square c-icon--white">
              <svg><use xlink:href="#clock"></use></svg>
            </div>
          </a>
        </li>
        <li>
          <a class="u-link u-link--lighten" href="#">
            <div class="c-icon c-icon--square c-icon--white">
              <svg><use xlink:href="#clock"></use></svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
