<section class="c-viz">
  <header
    class="c-viz__header l-v-center l-flex-wrap u-padding--size-base  u-hide--until-bp-wide"
  >
    <div class="l-flex-full">
      <h2
        class="t-sub t-primary t-primary--bold u-white-text u-text-center u-margin-bottom--size-large"
      >
        Data viz
      </h2>
      <div class="c-viz__icon-container l-h-center">
        <div class="c-icon c-icon--square c-icon--white">
          <svg><use xlink:href="#clock"></use></svg>
        </div>
      </div>
    </div>
  </header>
  <div class="c-viz__top-left u-padding--size-base">
    <h3
      class="u-text-center t-primary t-primary--bold u-margin-bottom--size-small"
    >
      Interactives
    </h3>
    <ul class="c-list">
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
    </ul>
  </div>
  <div class="c-viz__top-right u-padding--size-base">
    <h3
      class="u-text-center t-primary t-primary--bold u-margin-bottom--size-small"
    >
      Elections
    </h3>
    <ul class="c-list">
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
    </ul>
  </div>
  <div class="c-viz__bottom-left u-padding--size-base">
    <h3
      class="u-text-center t-primary t-primary--bold u-margin-bottom--size-small"
    >
      Maps
    </h3>
    <ul class="c-list">
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
    </ul>
  </div>
  <div class="c-viz__bottom-right u-padding--size-base">
    <h3
      class="u-text-center t-primary t-primary--bold u-margin-bottom--size-small"
    >
      Charts
    </h3>
    <ul class="c-list">
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="u-margin-bottom--size-small t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
      <li class="t-body t-primary">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor.
      </li>
    </ul>
  </div>
</section>
