.b {
  &-size {
    &--large {
      font-size: var(--blockSizeLarge);
    }

    &--base {
      font-size: var(--blockSizeBase);
    }

    &--small {
      font-size: var(--blockSizeSmall);
    }
  }

  &-type {
    &--hero,
    &--eng,
    &--viz,
    &--skills {
      padding: var(--cmpntSizeMega) var(--cmpntSizeBase);
    }

    &--hero {
      background-color: purple;
    }

    &--eng {
      background-color: red;
    }

    &--viz {
      background-color: green;
    }

    &--skills {
      background-color: orange;
    }
  }
}
