$color-bright: #b52121;
$color-dark: #341c46;
$color-dark-accent: #232323;
$color-light-accent: #dadada;

.u-white {
  &-bg {
    background-color: #fff;
  }

  &-text {
    color: #fff;
  }
}

.u-bright {
  &-bg {
    background-color: $color-bright;
  }

  &-text {
    color: $color-bright;
  }
}

.u-dark {
  &-bg {
    background-color: $color-dark;
  }

  &-text {
    color: $color-dark;
  }
}

.u-dark-accent {
  &-bg {
    background-color: $color-dark-accent;
  }

  &-text {
    color: $color-dark-accent;
  }
}

.u-light-accent {
  &-bg {
    background-color: $color-light-accent;
  }

  &-text {
    color: $color-light-accent;
  }
}

.u-text-center {
  text-align: center;
}
