.l-grid {
  display: grid;

  &-2-col {
    grid-template-columns: repeat(2, 1fr);
  }
  &-2-col-stack {
    grid-template-columns: repeat(2, 1fr);
    @include create-breakpoint-classes {
      grid-template-columns: 1fr;
    }
  }

  &-3-col {
    grid-template-columns: repeat(3, 1fr);
  }
  &-3-col-stack {
    grid-template-columns: repeat(3, 1fr);
    @include create-breakpoint-classes {
      grid-template-columns: 1fr;
    }
  }

  &-4-col {
    grid-template-columns: repeat(4, 1fr);

    &--first-narrow {
      & > *:nth-child(odd) {
        grid-column: 1;
      }
      & > *:nth-child(even) {
        grid-column: 2 / span 3;
      }
    }

    &--last-narrow {
      & > *:nth-child(odd) {
        grid-column: 1 / span 3;
      }
      & > *:nth-child(even) {
        grid-column: 4;
      }
    }
  }
  &-4-col-stack {
    grid-template-columns: repeat(4, 1fr);
    @include create-breakpoint-classes {
      grid-template-columns: 1fr;

      &.l-grid-4-col--first-narrow,
      &.l-grid-4-col--last-narrow {
        & > *:nth-child(odd),
        & > *:nth-child(even) {
          grid-column: auto;
        }
      }
    }
  }
}
