@mixin create-even-columns($int) {
  $gutter-size: 1em;

  grid-column-gap: $gutter-size;
  grid-row-gap: $gutter-size;
  grid-template-columns: repeat($int, 1fr);

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.l {
  &-master {
    display: grid;
    grid-auto-rows: minmax(100vh, auto);
    grid-template-areas:
      'hero'
      'eng'
      'viz';
    grid-template-columns: 1fr;

    &__area {
      &--hero {
        grid-area: hero;
      }

      &--eng {
        grid-area: eng;
      }

      &--viz {
        grid-area: viz;
      }
    }
  }

  &-wrapper {
    $extension: l-wrapper;
    display: grid;

    &--two-col {
      @extend .#{$extension};
      @include create-even-columns(2);
    }

    &--three-col {
      @extend .#{$extension};
      @include create-even-columns(3);
    }
  }
}
