/**
  We want to use custom properties whenever possible. However,
  Sass mixins don't get along well with those, so we also define
  the values as Sass variables for those edge cases.
*/

:root {
  --sizeSmall: 2.3rem;
  --sizeBase: 2.7rem;
  --sizeLarge: 3.1rem;
}

$size-small: 2.3rem;
$size-base: 2.7rem;
$size-large: 3.1rem;

$size-map: (
  small: $size-small,
  base: $size-base,
  large: $size-large
);
