@font-face {
  font-family: "QuicksandSubset";
  font-display: swap;
  src: url("/fonts/quicksand-subset.woff2") format("woff2");
  unicode-range: U+65 - U+90, U+97 - 122;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url("/fonts/quicksand-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/quicksand-bold.woff2") format("woff2");
}

html {
  font-size: 40%;

  @include mq($from: medium) {
    font-size: 50%;
  }

  @include mq($from: wide) {
    font-size: 62.5%;
  }
}

.t-primary {
  &--regular {
    font-family: "QuicksandSubset", Helvetica, Arial, sans-serif;
    font-weight: 400;
  }

  &--italic {
    font-family: "QuicksandSubset", Helvetica, Arial, sans-serif;
    font-style: italic;
  }

  &--bold {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  &--bold-italic {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .t-stage-1-loaded & {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
  }
}

.t-main-hed {
  font-size: 10rem;
  margin: 0 0 $size-large 0;
}

.t-sub {
  font-size: 5.5rem;
}

.t-body {
  font-size: 2.5rem;
  line-height: 1.5;
}
