.c-community {
  display: grid;

  @include mq($until: medium) {
    grid-template-columns:
      [edge-start]
      minmax(2rem, 5rem)
      [content-start]
      auto
      [content-end]
      minmax(2rem, 5rem)
      [edge-end];

    grid-template-rows:
      [edge-start]
      5rem
      [top-content-start]
      auto
      [top-content-end]
      5rem
      [bottom-content-start]
      auto
      [bottom-content-end]
      5rem
      [edge-end];

    &__left {
      grid-column: content;
      grid-row: top-content;
    }

    &__right {
      grid-column: content;
      grid-row: bottom-content;
    }
  }

  @include mq($from: medium) {
    grid-template-columns:
      [edge-start]
      minmax(2rem, 5rem)
      [left-content-start]
      4fr
      [left-content-end]
      minmax(2rem, 5rem)
      [right-content-start]
      4fr
      [right-content-end]
      minmax(2rem, 5rem)
      [edge-end];
    grid-template-rows:
      [edge-start]
      10rem
      [content-start]
      max-content
      [content-end]
      10rem
      [edge-end];

    &__left {
      grid-column: left-content;
      grid-row: content;
    }

    &__right {
      grid-column: right-content;
      grid-row: content;
    }
  }
}
