.c-icon {
  height: 0;
  position: relative;
  padding: 0;
  width: 100%;

  &--square {
    padding-bottom: 100%;
  }

  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
