.c-interests-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mq($from: little) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq($from: medium) {
    grid-template-columns: repeat(11, 1fr);
  }

  &__item {
    background: gray;
    border: 1px solid white;

    img {
      visibility: hidden;
    }

    @include mq($until: medium) {
      grid-column: auto;
      grid-row: auto;

      &:nth-child(n + 7) {
        display: none;
      }
    }

    @include mq($from: medium) {
      &:first-child {
        grid-column: 2 / span 3;
        grid-row: 3 / span 3;
      }

      &:nth-child(2) {
        grid-column: 5 / span 3;
        grid-row: 1 / span 3;
      }

      &:nth-child(3) {
        grid-column: 8 / span 3;
        grid-row: 3 / span 3;
      }

      &:nth-child(4) {
        grid-column: 5 / span 3;
        grid-row: 5 / span 3;
      }

      &:nth-child(5) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }

      &:nth-child(6) {
        grid-row: 6 / span 2;
        grid-column: 10 / span 2;
      }

      &:nth-child(7) {
        grid-column: 10;
        grid-row: 1;
      }

      &:nth-child(8) {
        grid-column: 11;
        grid-row: 2;
      }

      &:nth-child(9) {
        grid-column: 1;
        grid-row: 6;
      }

      &:last-child {
        grid-column: 2;
        grid-row: 7;
      }
    }
  }
}
