.c-socials {
  list-style: none;
  max-width: 18rem;

  li {
    margin-bottom: $size-small;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mq($until: medium) {
    display: none;
  }
}
