.l-v-center {
  align-items: center;
  display: flex;
}

// more straightforward than using
// justify-content: center; (IMO)
.l-h-center {
  margin-left: auto;
  margin-right: auto;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-flex-full {
  flex: 1 0 100%;
}

.l-flex-wrap {
  flex-wrap: wrap;
}
